:root {
    --main-blue: #335961; /*teal old: 468189*/ 
    --rich-black: #031926; /*rich black*/
    --blue-gray: #9DBEBB; /*ash gray*/
    --cream: #F4E9CD; /*parchment*/


}
* {
    margin: 0;
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 2%;
	right: 3%;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}
.navigation li a.active {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}
/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "📍 ";
}

footer {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
    padding: 12px;
    background-color: var(--rich-black);
    color: white;

}