@media only screen and (min-width: 500px) {
    main.discover {
        margin-left: 15%;
        margin-right: 15%;
    }
    main#main-directory div#directory-cards {
		display: grid;
        max-width: 90%;
		grid-template-columns: 1fr 1fr 1fr;
	}
}