:root {
    --main-blue: #335961; /*teal old: 468189*/ 
    --rich-black: #031926; /*rich black*/
    --blue-gray: #9DBEBB; /*ash gray*/
    --cream: #F4E9CD; /*parchment*/


}

body {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    background-color: var(--cream);
    color: var(--rich-black);
    font-family: 'Franklin Gothic  Medium', 'Arial Narrow', Arial, sans-serif;
}
header { 
    background-color: var(--main-blue);
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 0;
}
header img {
    max-width: 150px;
    margin: auto 10px auto auto;
}
header h1 {
    width: fit-content;
    margin: auto auto auto 10px ;
    color: white;
}   
nav {
    background-color: var(--rich-black);
    color: white;
    text-align: center; 
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 2%;
	right: 15%;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation li {
    display: none;
}
/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}


.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
li.nav-element {
    padding-top: 8px;
    padding-bottom: 8px;
}
nav ul {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-inline-start: 0px;

}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.6em;    
}
nav ul li:hover {
    text-decoration: none;
    color: var(--blue-gray);

    background-color: #031926;
}
section#hero {
    display: flex;
    justify-content: center;
    position: relative;
}
section#hero picture {
    background-color: #D4EEFB;
    width: 100%;
    display: flex;
    justify-content: center;
}
section#hero picture img {
    width: 100%;
    height: auto;
}
.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #DBEEFC);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .125rem;
	font-weight: 700;
	font-size: 1.2rem;
	font-family:"Great Vibes", serif;
}



main {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 100px;
}
main h2 {
    text-align: center;
    /* text-decoration: underline; */
    border-bottom: 1px solid var(--rich-black);
}
main section {
    max-width: 40%;
    margin: 2.5%;
    margin: auto;
}

main section.card {
    border: 1px solid var(--rich-black);
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}
section.card h3  {
    min-width: 100%;
    justify-self: center;
    margin-top: 0;
    background-color: var(--main-blue);
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    
    margin-left: auto;
}
section.card#information {
    align-self: center;
    margin: auto;
}
#map-container {
    display: flex;
    margin-top: 30px;
    /* align-content: center; */
}
#home-map-embed {
    margin: auto;
    width: 100%;
}

footer {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
    padding: 12px;
    background-color: var(--main-blue);
    color: white;
}
footer p {
    text-align: center;
    margin-bottom: 0;
}




.line-break {
    width: 100%;
  }


@media (min-width: 37.5em) {
	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
}