input {
    display: block;
    padding: .5rem;
    font-size: 1.3rem;
    width: 30rem;
}

label {
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

fieldset {
    margin-top: 20px;
}

#slidervalues {
    display: flex;
    width: 31rem;
    margin: 0 0 0 8px;
}

#slidervalues option{
    flex: 1;
}

button {
    font-size: 1.5rem;
    color: white;
    background-color: red;
    padding: .5rem;
    margin: 1rem o;
}
input:valid {
    box-shadow: 3px 3px 3px black;
}
input:invalid {
    box-shadow: 3px 3px 3px red;
}