@media (min-width: 400px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    main div.sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    main div section {
        flex: 1 1 100%;
        /* flex-wrap: nowrap; */
    }
    section.card h3  {
        min-width: 100%;
        text-align: center;
    }
    section.card#information {
        text-align: center;
    }
    section#hero picture img {
        width: 100%;
        height: auto;
    }
    .herolabel {
        position: absolute;
        top: 30px;
        left: 30px;
        background: radial-gradient(#fff, #9c81bf);
        border: 1px solid rgba(0,0,0,.75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        /* Buenas */
    }
    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 2rem;
        font-family:"Great Vibes", serif;
    }
}